.react-grid-item.react-grid-placeholder {
  background-color: rgb(11, 104, 196);
  opacity: 0.1;
  transition-duration: 800ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
